{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col">
                <p>Categorieen</p>
            </div>
        </div>
        <div class="row">

            {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('app_admin_category_insert') }}" class="btn btn-success">Categorie toevoegen</a>
            {% endif %}
        </div>
    </div>
{% endblock %}