{% extends 'base.html.twig' %}

{% block title %}Hello KapsalonController!{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col">
                <p class="fs-1">Kapsalon Je haar zit goed</p>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <p class="fs-5">
                    Welkom bij Kapsalon Je haar zit goed. Wij zijn een professionele kapperzaak gespecialiseerd in trendy vrouwenkapsel.
                </p>
            </div>
        </div>
    </div>
{% endblock %}
